## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

sample_list_1 = random.sample(range(0,100),80)
print(sample_list_1)
#print(len(sample_list_1))
#print(len(set(sample_list_1)))

[88, 35, 55, 17, 14, 19, 43, 16, 44, 91, 41, 86, 60, 99, 73, 93, 72, 34, 0, 82, 37, 69, 15, 74, 4, 94, 9, 78, 40, 36, 50, 59, 1, 84, 18, 21, 10, 77, 46, 71, 95, 48, 63, 27, 68, 57, 75, 80, 25, 89, 31, 23, 79, 54, 29, 83, 53, 30, 65, 51, 33, 13, 96, 47, 61, 3, 67, 92, 38, 90, 66, 45, 64, 62, 7, 76, 11, 8, 22, 85]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here

set1 = set(sample_list_1)
print(len(set1))

#YES

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here

sample_list_2 = [random.randint(0,100) for i in range(80)]

print(sample_list_2)
print(len(sample_list_2))

[45, 32, 79, 33, 90, 78, 60, 74, 37, 79, 99, 46, 86, 74, 33, 61, 39, 10, 25, 58, 15, 36, 55, 5, 71, 47, 93, 70, 40, 41, 15, 89, 50, 6, 68, 19, 6, 78, 94, 39, 53, 27, 100, 1, 34, 7, 80, 51, 44, 96, 67, 58, 17, 87, 39, 42, 74, 97, 38, 23, 39, 19, 56, 53, 63, 18, 12, 43, 36, 12, 43, 26, 63, 91, 37, 76, 70, 22, 82, 91]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here

set2 = set(sample_list_2)
len(set2)

#NO IS NOT, WE ONLY HAVE 60 UNIQUE NUMBERS

60

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here

set3 = set1 - set2
print(set3)
print(len(set3))

{0, 3, 4, 8, 9, 11, 13, 14, 16, 21, 29, 30, 31, 35, 48, 54, 57, 59, 62, 64, 65, 66, 69, 72, 73, 75, 77, 83, 84, 85, 88, 92, 95}
33

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set2 - set1
print(set4)
print(len(set4))

{32, 97, 58, 5, 6, 39, 70, 100, 42, 12, 87, 56, 26}
13

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here

set5 = set1 & set2
#set5 = set1.intersection(set2)
print(set5)
print(len(set5))

{1, 7, 10, 15, 17, 18, 19, 22, 23, 25, 27, 33, 34, 36, 37, 38, 40, 41, 43, 44, 45, 46, 47, 50, 51, 53, 55, 60, 61, 63, 67, 68, 71, 74, 76, 78, 79, 80, 82, 86, 89, 90, 91, 93, 94, 96, 99}
47

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
print("set1 has", len(set1), "unique random values")
print("set2 has", len(set2), "unique random values")
print("set3 has", len(set3), "elements present in set1 but not in set2")
print("set4 has", len(set4), "elements present in set2 but not in set1")
print("set5 has", len(set5), "the shared elements between set1 and set2")


# set1 = set3 + set5
# set2 = set4 + set5
# set3 = set1 - set2
# set4 = set2 - set1
# set5 = set1 & set2

print("len(set1) =" , "len(set3)->",len(set3), "+ len(set5)->",len(set5),"=",len(set3) + len(set5))
print("len(set2) =" , "len(set4)->",len(set4), "+ len(set5)->",len(set5),"=",len(set4) + len(set5))
print("len(set3) =" , "len(set1)->",len(set1), "- len(set5)->",len(set5),"=",len(set1) - len(set5))
print("len(set4) =" , "len(set2)->",len(set2), "- len(set5)->",len(set5),"=",len(set2) - len(set5))

set1 has 80 unique random values
set2 has 60 unique random values
set3 has 33 elements present in set1 but not in set2
set4 has 13 elements present in set2 but not in set1
set5 has 47 the shared elements between set1 and set2
len(set1) = len(set3)-> 33 + len(set5)-> 47 = 80
len(set2) = len(set4)-> 13 + len(set5)-> 47 = 60
len(set3) = len(set1)-> 80 - len(set5)-> 47 = 33
len(set4) = len(set2)-> 60 - len(set5)-> 47 = 13

#### Create an empty set called `set6`.

In [10]:
# Your code here

set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here

# print(set3)
# print(len(set3))

# print(set5)
# print(len(set5))

set6.update(set3)
set6.update(set5)
print(set6)
print(len(set6))

{0, 1, 3, 4, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 25, 27, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 43, 44, 45, 46, 47, 48, 50, 51, 53, 54, 55, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 99}
80

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
print(set1)
print(set6)
print(set1-set6)
print(set6-set1)

{0, 1, 3, 4, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 25, 27, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 43, 44, 45, 46, 47, 48, 50, 51, 53, 54, 55, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 99}
{0, 1, 3, 4, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 25, 27, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 43, 44, 45, 46, 47, 48, 50, 51, 53, 54, 55, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 99}
set()
set()

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
print(set1.issubset(set2), "- This one checks if everything in set1 is present in set2")
print(set2.issubset(set1), "- This one checks if everything in set2 is present in set1")
print(set1.issubset(set3), "- This one checks if everything in set1 is present in set3")
print(set3.issubset(set1), "- This one checks if everything in set3 is present in set1")

False - This one checks if everything in set1 is present in set2
False - This one checks if everything in set2 is present in set1
False - This one checks if everything in set1 is present in set3
True - This one checks if everything in set3 is present in set1

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here

set7 = set3.union(set4,set5)
set8 = set1.union(set2)

print(set7.issubset(set8), "- This one checks if everything in set7 is present in set8")
print(set8.issubset(set7), "- This one checks if everything in set8 is present in set7")

print(len(set7))
print(len(set8))

True - This one checks if everything in set7 is present in set8
True - This one checks if everything in set8 is present in set7
93
93

#### Using the `pop` method, remove the first element from `set1`.

In [16]:
# Your code here
# "The pop() method removes a random item from the set. AND "This method returns the removed item."
# By definition "Sets are unordered collections of unique elements" so  I don't think is appropiate 
# to think I could remove elements in order.

print(set1)
print(len(set1))

"Using the pop method, remove the first element from set1."

print(set1.pop())

print(len(set1))

{0, 1, 3, 4, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 25, 27, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 43, 44, 45, 46, 47, 48, 50, 51, 53, 54, 55, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 99}
80
0
79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [18]:
# Your code here

# Elements to be deleted
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
# Remove all elements of list from the set
set1.difference_update(list_to_remove)
print('Modified Set1 Content:')
print(set1)
print(len(set1))

Modified Set1 Content:
{3, 4, 7, 8, 10, 13, 14, 15, 16, 17, 18, 22, 23, 25, 27, 30, 33, 34, 35, 36, 37, 38, 40, 43, 44, 45, 46, 47, 48, 50, 53, 54, 55, 57, 60, 62, 63, 64, 65, 66, 67, 68, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 88, 90, 92, 93, 94, 95, 96}
62